---
Language: Cpp
BasedOnStyle: LLVM
# Column and tab
ColumnLimit: 100
UseTab: Always
IndentWidth: 8
ContinuationIndentWidth: 8
# Alignment and breaks
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Linux
BreakStringLiterals: false
Cpp11BracedListStyle: false
KeepEmptyLinesAtTheStartOfBlocks: false
...
