[submodule ".vim/pack/filetypes/start/kotlin-vim"]
	path = .vim/pack/filetypes/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".vim/pack/filetypes/start/rust.vim"]
	path = .vim/pack/filetypes/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/filetypes/start/thrift.vim"]
	path = .vim/pack/filetypes/start/thrift.vim
	url = https://github.com/solarnz/thrift.vim
[submodule ".vim/pack/filetypes/start/vim-toml"]
	path = .vim/pack/filetypes/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/pack/snippets/opt/vim-snippets"]
	path = .vim/pack/snippets/opt/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/pack/snippets/start/vim-addon-mw-utils"]
	path = .vim/pack/snippets/start/vim-addon-mw-utils
	url = https://github.com/marcweber/vim-addon-mw-utils
[submodule ".vim/pack/snippets/start/vim-snipmate"]
	path = .vim/pack/snippets/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/pack/textobj/start/vim-textobj-comment"]
	path = .vim/pack/textobj/start/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment
[submodule ".vim/pack/textobj/start/vim-textobj-parameter"]
	path = .vim/pack/textobj/start/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter
[submodule ".vim/pack/textobj/start/vim-textobj-user"]
	path = .vim/pack/textobj/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".vim/pack/themes/opt/gruvbox"]
	path = .vim/pack/themes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox
