## Custom snippets
snippet fun
	def ${1:fun}():
		${0:$VISUAL}
snippet main
	#!/usr/bin/env python3

	import os, sys, time

	def main(argv):
		${0:$VISUAL}
		return 0

	if __name__ == "__main__":
		res = main(sys.argv)
		exit(res)
snippet pr
	print("${0:$VISUAL}")
